html, body {
    margin: 0;
    padding: 0;
    font:  normal 15pt Arial, sans-serif;
}

body {
    background-color: #1cc9e7;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    height: 90px;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1888c9be;
   
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #1888c9be;
}

section {
    width: 100%;
    width: 800px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 10px auto;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 60px;

}


input[type="number"] {
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1888c9be;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

#res {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}